.wrapper{
	display: flex;
	min-height: 100%;
	overflow: hidden;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	margin: 0px auto;
	justify-content: center;
	background-image: url('../img/bg.jpg');
}

.log_in{
	flex: 0 1 auto;
}

.container{
	max-width: 400px;
	margin: 0px auto;
	max-height: 500px;
}

.window{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 500px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	flex: 1 1 auto;
	align-items: center;
	background-color: white;
}

.reg{
	font-size: 30px;
	font-weight: 700;
	margin-top: 10px;
}

.email{
	border-radius: 5px;
	min-height: 50px;
	min-width: 210px;
	padding-left: 10px;
	font-size: 15px;
	margin-top: 40px;
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.password{
	border-radius: 5px;
	min-height: 50px;
	min-width: 210px;
	padding-left: 10px;
	font-size: 15px;
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.reg_log{
	font-size: 15px;
	margin-top: 5px;
	text-align: center;
}

.submit{
	border-radius: 5px;
	min-height: 50px;
	min-width: 210px;
	font-size: 15px;
	box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.5);
	font-weight: 700;
	transition-duration: 0.5s;
}

.submit:hover{
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.remember{
	padding-left: 10px;
	font-size: 15px;
}