{% extends "base.html" %}


{% block content %}
<div class="main_body">
    <div class="container">
        <div class="box">
            {% if current_user.is_authenticated %}
            <form action="/create_codes">
                <button class="add"></button>
            </form>
            {% endif %}
            {% for item in codes %}
            <form action="/codes/{{ item.id }}" class="bttn_box">
                <button class="bttn"><span>"{{ item.title }}"</span> Автор - {{ item.user.name }}. Дата создания - {{ item.created_date }}</button>
            </form>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}