{% extends "base.html" %}

{% block content %}
<h1>Скрипты</h1>
{% for item in codes%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}

    </div>
        <div>
        <a href="/codes/{{ item.id }}" class="btn btn-secondary">
            Открыть
        </a>
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/codes/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
    </div>
{% endif %}
</div>
{% endfor %}
{% if current_user.is_authenticated %}
    <a href="create_codes" class="btn btn-secondary">Добавить свой код</a>
{% endif %}
{% endblock %}