{% extends 'base.html' %}



{% block content %}
<div class="main">
	<div class="content1">
		<div class="title">
			<div class="container">
				<div class="title_text" id='title_id'>
					О Лицее
				</div>
			</div>
		</div>
	</div>
	<div class="content2">
		<div class="telo">
			<div class="container">
				<div class="balls">
					<div class="ball1">
						Лучшая школа России по изучению одного из самых <span class="python">популярных</span> языков программирования в на данный момент.
					</div>
					<div class="ball2">
						<span class="count">380</span> площадок проекта в <span class="count">162</span> городах России и Казахстана, доступные каждому желающему.
					</div>
					<div class="ball3">
						Вас ждет очень много <span class="project">практики</span> на каждом занятии. А также предстоит выполнить 3 проекта.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content3">
		<div class="about_lyceum">
			<div class="container">
				<div class="text_about_lyceum">
					<span><a href="https://academy.yandex.ru/lyceum" class="yandex" target="_blank">Академия  Яндекса</a></span> - место, в котором вы научитесь программировать на Python - вторым по востебованности языком программирования. Курс обучения рассчитан на 2 года. В течение этого время вы будете много практиковаться, создавать собственные проекты. Также во время учебы ведется личный рейтинг каждого ученика. По окончании курса, вы получите диплом, который может добавить 
					баллы на ЕГЭ и сыграть роль при поступлении в ВУЗ.
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}